.picture1 {
    background-color: red;
    height: 200px;
    width: 200px;
}

.picture2 {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.picture3 {
    background-color: orange;
    height: 200px;
    width: 200px;
}

.picture4 {
    background-color: yellow;
    height: 200px;
    width: 200px;
}

.picture5 {
    background-color: green;
    height: 200px;
    width: 200px;
}

.picture6 {
    background-color: purple;
    height: 200px;
    width: 200px;
}

.picture7 {
    background-color: pink;
    height: 200px;
    width: 200px;
}

.picture8 {
    background-color: brown;
    height: 200px;
    width: 200px;
}

.picture9 {
    background-color: aqua;
    height: 200px;
    width: 200px;
}