.picture1 {
    background-image: url("./pictures/cat1.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 3%;
}

.picture2 {
    background-image: url("./pictures/cat2.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 3%;
}

.picture3 {
    background-image: url("./pictures/cat3.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    margin-left: 35%;
}

.picture4 {
    float: none;
    background-image: url("./pictures/cat4.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 3%;
}

.picture5 {
    background-image: url("./pictures/cat5.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 3%;
}

.picture6 {
    background-image: url("./pictures/cat6.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    margin-left: 35%;
}

.picture7 {
    background-image: url("./pictures/cat7.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 3%;
}

.picture8 {
    background-image: url("./pictures/cat8.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 3%;
}

.picture9 {
    background-image: url("./pictures/cat9.jpg");
    border-radius: 25px;
    height: 200px;
    width: 200px;
    margin-left: 35%;
}